.upload_container{
  background: #F0F0F0;
  width:35%;
  height:200px;
  border : 2px solid #ccc;
  border-style: dashed;
}
.image-upload>input {
  display: none;
}
.image-upload>label{
display : flex;
flex-direction : column;
align-items:center;
}
.container{
  margin-top : 150px
}